<article class="card tlog-post tqc-{{ include.type }}">
    
    {% if include.post.title %}
        <header class="card-header tlog-post-header">
            {% if include.post.domain %}
                <p class="font-weight-bold">
                    <a href="{{ include.post.domain_url | default: include.post.url }}" target="_blank">{{ include.post.domain }}</a>
                </p>
            {% endif %}
            <h2 class="card-title tlog-post-title">
                <a href="{{ include.post.title_url | default: include.post.url }}" target="_blank">{{ include.post.title }}</a>
            </h2>
        </header>
    {% endif %}

    <main class="card-body tlog-post-content">
        {% if include.post.quote %}
            {% include post-quote.html %}
        {% endif %}

        {% if include.post.content %}
            {{ include.post.content }}
        {% endif %}
    </main>

    <footer class="card-footer bg-transparent tlog-post-footer">
        <span>
            {% for tag in include.post.tags %}
                <a href="{{ site.url }}{{ site.tag_page }}#{{ tag | slugify }}">#{{ tag }}</a>
            {% endfor %}
        </span>
    </footer>    
</article>